$mat-primary: (
  50 : #f1f6e4,
  100 : #dce8bc,
  200 : #c5d98f,
  300 : #adca62,
  400 : #9cbe40,
  500 : #8ab31e,
  600 : #82ac1a,
  700 : #77a316,
  800 : #6d9a12,
  900 : #5a8b0a,
  A100 : #e2ffb9,
  A200 : #cdff86,
  A400 : #b7ff53,
  A700 : #adff3a,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-accent: (
  50 : #e0ecf3,
  100 : #b3d1e1,
  200 : #80b2ce,
  300 : #4d93ba,
  400 : #267bab,
  500 : #00649c,
  600 : #005c94,
  700 : #00528a,
  800 : #004880,
  900 : #00366e,
  A100 : #9dc5ff,
  A200 : #6aa7ff,
  A400 : #3789ff,
  A700 : #1e7aff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
