@import "../../styles/variables";

.td-track-search-card {
  margin-top: 32px;
}

.td-track-search {
  width: 100%;
}

.td-track-loading {
  padding: 64px;
  display: flex;
  justify-content: center;
}

.td-track-error-card {
  padding: 16px 32px;
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.td-track-error-card .material-icons {
  font-size: 128px;
  line-height: 128px;
}

.td-track-notfound-icon {
  color: lightgray;
}

.td-track-badrequest-icon {
  color: #cc1800;
}

.td-track-message {
  padding: 0 32px;
  font-size: 20px;
  line-height: 20px;
}

.td-track-info-wrapper {
  display: flex;
  margin-top: 32px;
}

.td-track-info-col {
  width: calc(50% - 16px);
}

.td-track-info-col:not(:first-child) {
  margin-left: 32px;
}

.td-track-info-card h3 {
  font-weight: bold;
}

.td-track-info-icon {
  font-size: 128px;
  color: map-get($mat-accent, 500);
}

.td-track-delivered-icon {
  font-size: 128px;
  color: map-get($mat-primary, 500);
}

.td-track-info-icon-wrapper {
  display: flex;
}

.td-track-info-icon-circle {
  padding: 0 48px 16px 48px;

  display: flex;
  align-items: center;
}

.td-track-info-icon-circle div {
  margin: 0 32px;
  font-size: 28px;
}

.td-track-info-hop-wrapper {
  height: 64px;
  display: flex;
  align-items: center;
}

.td-track-info-hop-node {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}

.td-track-info-hop-node-lineprev {
  height: calc(50% - 8px);
  width: 4px;
  background-color: gray;
}

.td-track-info-hop-node-linenext {
  height: calc(50% - 8px);
  width: 4px;
  background-color: gray;
}

.td-track-info-hop-node-circle {
  height: 16px;
  width: 16px;
  background-color: gray;
  border-radius: 100%;
}

.td-track-info-hop-invisline {
  background-color: transparent;
}

.td-track-info-hop-node-circle-visited {
  background-color: map-get($mat-primary, 500);
}

.td-track-info-hop-line-visited {
  background-color: map-get($mat-primary, 500);
}

.td-track-info-hop-info {
  flex-grow: 1;
}

.td-track-info-hop-info-ts {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.35;
}

.td-parcel-info-action-button {
  color: white;
}
